### Importando base de dados

In [5]:
import pandas as pd

exportacoes_franca_df = pd.read_csv('exportacoes_franca.csv')
exportacoes_franca_df = exportacoes_franca_df.loc[exportacoes_franca_df['Economic Block'] == 'Europe', :]
display(exportacoes_franca_df)

,Year,Month,Country,City,SH4 Code,SH4 Description,SH2 Code,SH2 Description,Economic Block,US$ FOB,Net Weight
0,2016,1,France,Águas Mornas - SC,303,"Fish, frozen, excluding fish fillets and other...",3,"Fish and crustaceans, molluscs and other aquat...",Europe,79360,14150
2,2016,1,France,Águas Mornas - SC,304,Fish fillets and other fish meat (whether or n...,3,"Fish and crustaceans, molluscs and other aquat...",Europe,69412,9385
4,2016,1,France,Alfenas - MG,901,"Coffee, whether or not roasted or decaffeinate...",9,"Coffee, tea, maté and spices",Europe,180914,57600
6,2016,1,France,Alta Floresta - MT,4409,Wood (including strips and friezes for parquet...,44,Wood and articles of wood; wood charcoal,Europe,47828,28306
8,2016,1,France,Ananindeua - PA,1211,Plants and parts of plants (including seeds an...,12,"Oil seeds and oleaginous fruits; Grains, Seeds...",Europe,391,22
...,...,...,...,...,...,...,...,...,...,...,...
142350,2020,12,France,Vinhedo - SP,4016,Other articles of vulcanised rubber other than...,40,Rubber and articles thereof,Europe,136,0
142352,2020,12,France,Vinhedo - SP,6806,"Slag wool, rock wool and similar mineral wools...",68,"Articles of stone, plaster, cement, asbestos, ...",Europe,76,50
142354,2020,12,France,Vinhedo - SP,8424,Mechanical appliances (whether or not hand-ope...,84,"Nuclear reactors, boilers, machinery and mecha...",Europe,2316,4
142356,2020,12,France,Vitória de Santo Antão - PE,714,"Manioc, arrowroot, salep, Jerusalem artichokes...",7,Edible vegetables and certain roots and tubers,Europe,27060,26400
142358,2020,12,France,Xapuri - AC,4409,Wood (including strips and friezes for parquet...,44,Wood and articles of wood; wood charcoal,Europe,31111,23045

### Informações gerais

In [6]:
print(exportacoes_franca_df.info())
#print(exportacoes_franca_df.describe())

<class 'pandas.core.frame.DataFrame'>
Index: 71180 entries, 0 to 142358
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Year             71180 non-null  int64
 1   Month            71180 non-null  int64
 2   Country          71180 non-null  object
 3   City             71180 non-null  object
 4   SH4 Code         71180 non-null  int64
 5   SH4 Description  71180 non-null  object
 6   SH2 Code         71180 non-null  int64
 7   SH2 Description  71180 non-null  object
 8   Economic Block   71180 non-null  object
 9   US$ FOB          71180 non-null  int64
 10  Net Weight       71180 non-null  int64
dtypes: int64(6), object(5)
memory usage: 6.5+ MB
None

### Como foi a evolução das exportações para França ao longo dos anos?

In [8]:
tabela_export_anos = exportacoes_franca_df.groupby("Year").sum()
tabela_export_anos = tabela_export_anos[['US$ FOB']]

#criar um funcao de formatacao

def formatar(valor):
    return f"${valor:,.2f}"

#aplica formatacao

tabela_export_anos['US$ FOB'] = tabela_export_anos['US$ FOB'].map(formatar)
display(tabela_export_anos)

                US$ FOB
Year
2016  $2,307,750,041.00
2017  $2,224,352,728.00
2018  $2,619,712,208.00
2019  $2,609,361,806.00
2020  $1,983,797,405.00

#### Quais produtos foram mais exportados em (US$) ao longo do período?

In [12]:
export_por_produto = exportacoes_franca_df.groupby('SH4 Description').sum()
export_por_produto = export_por_produto[['US$ FOB']]

#coloca os valores em ordem decrescente
export_por_produto = export_por_produto.sort_values('US$ FOB', ascending= False)

#aplica formatacao
export_por_produto['US$ FOB'] = export_por_produto['US$ FOB'].map(formatar)
display(export_por_produto)

                                                              US$ FOB
SH4 Description
Soybean oilcake and other solid residue, wh/not...  $2,814,212,320.00
Iron ores and concentrates, including roasted i...  $1,632,140,244.00
Chemical wood pulp, soda or sulphate, other tha...    $922,712,342.00
Coffee, whether or not roasted or decaffeinated...    $536,277,376.00
Other aircraft (for example, helicopters, aerop...    $342,566,535.00
...                                                               ...
Anti-freezing preparations and prepared de-icin...              $5.00
Man-made filament yarn (other than sewing threa...              $5.00
Glass envelopes (including bulbs and tubes), op...              $4.00
Cast glass and rolled glass, in sheets or profi...              $3.00
Drawing or colouring books for children                         $3.00

[935 rows x 1 columns]

### Em 2020, qual cidade exportou mais para a França?

In [16]:
tabela_2020 = exportacoes_franca_df.loc[exportacoes_franca_df["Year"] == 2020, :]
#display(tabela_2020)

export_por_cidade = tabela_2020.groupby('City').sum()
export_por_cidade = export_por_cidade[['US$ FOB']]
export_por_cidade = export_por_cidade.sort_values('US$ FOB', ascending= False)

export_por_cidade['US$ FOB'] = export_por_cidade['US$ FOB'].map(formatar)
display(export_por_cidade)

                                     US$ FOB
City
Duque de Caxias - RJ         $139,702,798.00
Luís Eduardo Magalhães - BA  $132,664,066.00
Ponta Grossa - PR             $93,888,508.00
São José dos Campos - SP      $86,469,638.00
Rio de Janeiro - RJ           $61,261,107.00
...                                      ...
Não-Me-Toque - RS                     $21.00
Cubatão - SP                          $20.00
Holambra - SP                          $5.00
São Sebastião do Caí - RS              $3.00
Quatro Pontes - PR                     $0.00

[648 rows x 1 columns]

### O que a maior a maior cidade exportadora exporta pra França?

In [21]:
tabela_cidade_top1 = tabela_2020.loc[tabela_2020["City"] == 'Duque de Caxias - RJ', :]
#display(tabela_2020)

tabela_cidade_top1 = tabela_2020.groupby('SH4 Description').sum()
tabela_cidade_top1 = tabela_cidade_top1[['US$ FOB']]
tabela_cidade_top1 = tabela_cidade_top1.sort_values('US$ FOB', ascending= False)

tabela_cidade_top1['US$ FOB'] = tabela_cidade_top1['US$ FOB'].map(formatar)
display(tabela_cidade_top1)

                                                            US$ FOB
SH4 Description
Soybean oilcake and other solid residue, wh/not...  $541,111,162.00
Iron ores and concentrates, including roasted i...  $190,846,648.00
Chemical wood pulp, soda or sulphate, other tha...  $124,320,073.00
Coffee, whether or not roasted or decaffeinated...  $104,684,468.00
Crude oil from petroleum and bituminous minerals     $99,923,601.00
...                                                             ...
Pencils (other than pencils of heading 9608), c...            $3.00
Drawing or colouring books for children                       $3.00
Glands and other organs for organo-therapeutic ...            $2.00
Carbonates; peroxocarbonates (percarbonates); c...            $2.00
Vegetable alkaloids, natural or reproduced by s...            $0.00

[743 rows x 1 columns]